.travis.yml
.vscode
.pytest_cache
__pycache__
check.py
db.sqlite3
docker-compose*
jgdc.yml
Dockerfile
setup.cfg
node_modules
*.dump
*.env
.envrc
htmlcov/
.vault_pass
deployment/
.coverage*
.python-version
env-setup.sh
notebooks/
