*.sw[po]
*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.coverage*
coverage
.vagrant
*/settings/local.py
public/static/
public/media/
conf/pillar/*/deploy
*.priv
.env
.envrc
.vscode/
.vscode
.python-version
env-setup.sh
deployment/roles/
notebooks/.ipynb_checkpoints
.vault_pass
media/
htmlcov/
docker-compose.override.yml
docker-compose.kibana.yml
.ipynb_checkpoints/

## JMG
.envs/
.idea/
jgdc.yml
mytest.ini
